@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro&display=swap');
:root{
	--headings:#E98074;
	--text:#8E8D8A;
	--background: #EAE7DC;
	--heading-font-family:"Lato", sans-serif;
	--text-font-family:"Source Sans Pro", sans-serif;
  
}


*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	background-color: var(--background);
	color: var(--text);
	text-align: center;
	font-family: var(--text-font-family);

}

.ingredients{
	width: 50%;
	text-align: left;
	margin: 2rem;
	overflow: hidden;



}


.food{
	width: 20%;
	height: 20%;
	float: left;
	margin-right: 2rem;
}


h1{
	color: var(--headings);
	text-align: center;
}
p{
	color: var(--text);


}

.making{
	margin-top: 20rem;
	display: flex;
	justify-content: center;	

	
}
.making li{
	text-align: left;



}

.site{
	margin-left: 10%;
	margin-right: 10%;

}
footer{
	margin-top:25rem;


}
footer a{
	text-decoration: none;
	color: var(--text);


}
li{

font-size: 1rem;

}