@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Source+Sans+Pro&display=swap');
:root{
	--headings:#E98074;
	--text:#8E8D8A;
	--background: #EAE7DC;
	--heading-font-family:"Lato", sans-serif;
	--text-font-family:"Source Sans Pro", sans-serif;

  
}


*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	background-color: var(--background);
	color: var(--text);
	text-align: center;
	font-family: var(--text-font-family);


}
.ingredients{
	width: 50%;
	text-align: left;
	margin: 2rem auto;
	overflow: hidden;



}

.food{
	width: 25%;
}


h1{
	color: var(--headings);
	text-align: center;
}
p{
	color: var(--text);


}

